// colors

$primary-color: #1c2b97;
$primary-color-light: #9fa8da;

$white-color: #fff;
$black-color: #000;

$gray-color-dark: #3d3d3d;
$gray-color: #2c2c2c;
$gray-color-light: #686868;

$color-purple-dark: #6a1b9a;
$color-purple-light: #ab47bc;

$color-green-dark: #1b5e20;
$color-green-light: #4caf50;

$color-orange-dark: #e65100;
$color-orange-light: #ff9800;

//GRID

$grid-width: 114rem;
$vertical-gutter-small: 4rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;
