// colors

$primary-color: #19456b;
$primary-color-light: #11698e;

$white-color: #fff;
$black-color: #000;

$gray-color-dark: #3d3d3d;
$gray-color: #2c2c2c;
$gray-color-light: #686868;

$color-pink-light: #e7d9ea;

$color-aqua: #16c79a;

//GRID

$grid-width: 114rem;
$vertical-gutter-small: 4rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;
