.header {
  &__title {
    background-image: linear-gradient(to right, $color-aqua, $primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    position: absolute;
    top: 4.2rem;
    left: 37%;
    font-size: 35px;
    text-transform: uppercase;

    @include respond-to(tablet) {
      left: 25%;
      font-size: 30px;
    }
    @include respond-to(phone) {
      font-size: 2.2rem;
      left: 21%;
    }

    &--text1 {
      text-align: left;
      display: block;
      font-size: 2.3rem;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 2rem;
      text-transform: capitalize;
      word-spacing: 2px;
      letter-spacing: 1px;
      animation-name: fadeInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    &--text2 {
      text-align: left;
      display: block;
      font-size: 2.3rem;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 2rem;
      font-weight: 400;
      text-transform: capitalize;
      word-spacing: 2px;
      letter-spacing: 1px;
      animation-name: fadeInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
    @include respond-to(tablet) {
      &--text1 {
        font-size: 1.8rem;
      }
      &--text2 {
        font-size: 1.8rem;
      }
    }
  }

  &__images {
    &--pizza-1 {
      display: flex;
      float: left;
      margin-left: 100px;
      border-radius: 3%;
      box-shadow: gray 2px 2px 2px;
    }
    @include respond-to(tablet) {
      &--pizza-1 {
        float: none;
        display: block;
        margin: 0 auto;
        border-radius: 3%;
        height: 166px;
        margin-bottom: 37px;
      }
    }
  }
}
