.navigation {
  &__checkbox {
    display: none;
  }
  &__btn {
    background-color: $white-color;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0px 0px 10px 2px rgba($black-color, 0.4);
    cursor: pointer;
  }
  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $gray-color-dark;
      display: inline-block;
    }
    & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: 0.8rem;
    }
    &::after {
      top: -0.8rem;
    }
  }
  &__btn:hover &__icon::before {
    top: 1rem;
  }
  &__btn:hover &__icon::after {
    top: -1rem;
  }

  &__background {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $primary-color;
    height: 100vh;
    width: 0%;
    z-index: 1000;
    transition: width 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
    transition-delay: 0.8s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    line-height: 5rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $white-color;
      font-size: 2.6rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 1rem 2rem;
    }

    &:hover,
    &:active {
      border: 3px solid $white-color;
      mask-image: linear-gradient(
        -75deg,
        rgba($black-color, 0.6) 30%,
        $black-color 50%,
        rgba($black-color, 0.6) 70%
      );
      -webkit-mask-image: linear-gradient(
        -75deg,
        rgba($black-color, 0.6) 30%,
        $black-color 50%,
        rgba($black-color, 0.6) 70%
      );
      mask-size: 200%;
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
    }
  }
  //check if checkbox is checked
  &__checkbox:checked ~ &__background {
    width: 100%;
    height: 100%;
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1500;
  }
  &__checkbox:checked + &__btn &__icon {
    background: transparent;
  }
  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }
}
