.detail {
  &__title {
    &--text {
      text-align: left;
      display: block;
      font-size: 2.2rem;
      padding-left: 60px;
      padding-right: 260px;
      padding-bottom: 2rem;
      text-transform: capitalize;
      word-spacing: 2px;
      letter-spacing: 1px;
      animation-name: fadeInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    @include respond-to(phone) {
      font-size: 1.9rem;
    }
  }

  &__images {
    &--pizza-1 {
      display: flex;
      float: left;
      margin-left: 245px;
      margin-right: 54px;
      border-radius: 3%;
      box-shadow: rgba(128, 128, 128, 0.549) 2px 2px 2px;
      max-width: 220px;
    }

    @include respond-to(tablet) {
      &--pizza-1 {
        height: 200px;
        left: 20%;
        top: 32%;
      }
    }
  }
}
