.feedback-card {
  text-align: left;
  background-color: $white-color;
  border-radius: 0.7rem;
  box-shadow: 0.1rem 0.4rem 1.2rem rgba($black-color, 0.6);
  padding: 2rem;
  &__header {
    display: flex;
    justify-content: left;
    align-items: center;
    &--image {
      height: 90px;
      width: 90px;
      border-radius: 100px;
      margin-right: 2rem;
    }
    &--title {
      font-size: 1.8rem;
    }
  }
  &__paragraph {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    line-height: 2.2rem;
  }
}
