.about {
  display: flex;
  justify-content: center;
  margin: 10rem;
  @include respond-to(phone) {
    margin: 3rem;
  }

  &__card {
    flex: 1;
    height: 50rem;
    transform: skewX(15deg);
    position: relative;
    transition: all 1000ms ease-in-out;

    &--img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition: all 1000ms ease-in-out;
    }
    &--title {
      color: $black-color;
      background-color: rgba($white-color, 0.75);
      padding: 1 0rem;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 3rem;
      white-space: nowrap;
      transition: all 1000ms ease-in-out;
    }
    &:hover {
      flex-grow: 2;
      .about__card--img {
        filter: grayscale(0);
      }
      .about__card--title {
        color: $white-color;
        background-color: rgba($black-color, 0.75);
        transform: rotate(0) skew(0);
      }
    }

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      .about__card--img {
        filter: grayscale(0);
      }
      .about__card--title {
        color: $white-color;
        background-color: rgba($black-color, 0.75);
        transform: rotate(0) skew(0);
      }
    }
  }

  @include respond-to(tablet) {
    margin: 7rem;
    &__card {
      transform: skewX(10deg);
      height: 30rem;

      &--title {
        font-size: 1.8rem;
      }
    }
  }
}
