.about {
  display: flex;
  justify-content: center;
  margin: 10rem;
  @include respond-to(phone) {
    margin: 3rem;
  }

  &__card {
    position: relative;
    transition: all 1000ms ease-in-out;

    &--img {
      height: 100%;
      width: 100%;
      transition: all 1000ms ease-in-out 0s;
      max-width: 200px;
      margin-right: 35px;
      border-radius: 3%;
      box-shadow: rgba(128, 128, 128, 0.549) 2px 2px 2px;
    }
    &--title {
      color: $black-color;
      background-color: rgba($white-color, 0.75);
      padding: 1rem 0rem;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: -57px;
      left: -14px;
      font-size: 3rem;
      white-space: nowrap;
      transition: all 1000ms ease-in-out;
    }
    &:hover {
      .about__card--title {
        color: $white-color;
        background-color: rgba($black-color, 0.75);
        transform: rotate(0) skew(0);
      }
    }

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      .about__card--img {
        filter: grayscale(0);
      }
      .about__card--title {
        color: $white-color;
        background-color: rgba($black-color, 0.75);
        transform: rotate(0) skew(0);
      }
    }
  }

  @include respond-to(tablet) {
    margin: 7rem;
    &__card {
      transform: skewX(10deg);
      height: 30rem;

      &--title {
        font-size: 1.8rem;
      }
    }
  }
}
