*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /*...1rem=10px=62.5%...*/

  @include respond-to(tablet) {
    font-size: 56.25%; // 1rem = 9px 9/16 = 56%
  }

  @include respond-to(phone) {
    font-size: 50%; // 1rem = 9px 8/16 = 50%
  }

  @include respond-to(bigger-screens) {
    font-size: 75%; // 1rem = 12px 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  font-family: "Raleway";
  padding: 3rem;
  @include respond-to(phone) {
    padding: 1rem;
  }
}
