.heading__primary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  text-decoration: underline;
  color: #1c2b97;
  margin-left: 100px;
  transition: all 100ms ease-in-out;

  &:hover {
    transform: rotate(-1deg) skew(15deg);
    text-shadow: 5px 6px 4px rgba($black-color, 0.5);
  }
}
