/*background colors*/
.u-bkg-white {
  background-color: $white-color;
}
.u-bkg-black {
  background-color: $black-color;
}

/*padding*/
.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.u-vertical-padding-sm {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/*text alignment*/
.u-center-text {
  text-align: center;
}

/*margin*/
.u-mt-lg {
  margin-top: 15rem;
}
.u-mt-md {
  margin-top: 10rem;
}
.u-mt-sm {
  margin-top: 5rem;
}

.u-mb-lg {
  margin-bottom: 15rem;
}
.u-mb-md {
  margin-bottom: 10rem;
}
.u-mb-sm {
  margin-bottom: 2rem;
}
