/* abstracts */
/* media queries */
/*
    breakpoints for devices

    0 - 600px       ---->   Mobile
    600px - 900px   ---->   Tablets
    900px - 1200px  ---->   Desktop
    1200px +        ---->   Bigger screens + infinite

*/
/* base */
*::after,
*::before {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  /*...1rem=10px=62.5%...*/ }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.55em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem; }
  @media only screen and (max-width: 37.55em) {
    body {
      padding: 1rem; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes shine {
  from {
    mask-position: 150%;
    -webkit-mask-position: 150%; }
  to {
    mask-position: -50%;
    -webkit-mask-position: -50%; } }

.heading__primary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  text-decoration: underline;
  color: #1c2b97;
  margin-left: 100px;
  transition: all 100ms ease-in-out; }
  .heading__primary:hover {
    transform: rotate(-1deg) skew(15deg);
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5); }

/*background colors*/
.u-bkg-white {
  background-color: #fff; }

.u-bkg-black {
  background-color: #000; }

/*padding*/
.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem; }

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.u-vertical-padding-sm {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

/*text alignment*/
.u-center-text {
  text-align: center; }

/*margin*/
.u-mt-lg {
  margin-top: 15rem; }

.u-mt-md {
  margin-top: 10rem; }

.u-mt-sm {
  margin-top: 5rem; }

.u-mb-lg {
  margin-bottom: 15rem; }

.u-mb-md {
  margin-bottom: 10rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

/* component */
.twocolumntext__title {
  font-size: 35px;
  background-image: linear-gradient(to right, #16c79a, #1c2b97);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-transform: uppercase; }

.twocolumntext__text--text1 {
  text-align: left;
  font-size: 2.3rem;
  padding-left: 100px;
  text-align: justify;
  letter-spacing: 1px;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.twocolumntext__text--text2 {
  text-align: left;
  font-size: 2.3rem;
  padding-right: 100px;
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 400;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

@media only screen and (max-width: 37.55em) {
  .twocolumntext__text {
    font-size: 1.9rem; } }

.detail__title--text {
  text-align: left;
  display: block;
  font-size: 2.2rem;
  padding-left: 60px;
  padding-right: 260px;
  padding-bottom: 2rem;
  text-transform: capitalize;
  word-spacing: 2px;
  letter-spacing: 1px;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

@media only screen and (max-width: 37.55em) {
  .detail__title {
    font-size: 1.9rem; } }

.detail__images--pizza-1 {
  display: flex;
  float: left;
  margin-left: 245px;
  margin-right: 54px;
  border-radius: 3%;
  box-shadow: rgba(128, 128, 128, 0.549) 2px 2px 2px;
  max-width: 220px; }

@media only screen and (max-width: 56.25em) {
  .detail__images--pizza-1 {
    height: 200px;
    left: 20%;
    top: 32%; } }

.order {
  display: flex;
  justify-content: center;
  margin: 10rem;
  margin-top: 2rem; }
  @media only screen and (max-width: 37.55em) {
    .order {
      margin: 3rem; } }
  .order__food {
    position: relative;
    transition: all 1000ms ease-in-out; }
    .order__food--img {
      height: 100%;
      width: 100%;
      transition: all 1000ms ease-in-out 0s;
      max-width: 200px;
      margin-right: 35px;
      border-radius: 3%;
      box-shadow: rgba(128, 128, 128, 0.549) 2px 2px 2px; }
    .order__food--title {
      color: #000;
      background-color: rgba(255, 255, 255, 0.75);
      padding: 1rem 0rem;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: -57px;
      left: -14px;
      font-size: 3rem;
      white-space: nowrap;
      transition: all 1000ms ease-in-out; }
    .order__food:hover .order__food--title {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.75);
      transform: rotate(0) skew(0); }
    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      .order__food .order__food--img {
        filter: grayscale(0); }
      .order__food .order__food--title {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.75);
        transform: rotate(0) skew(0); } }
  @media only screen and (max-width: 56.25em) {
    .order {
      margin: 7rem; }
      .order__food {
        transform: skewX(10deg);
        height: 30rem; }
        .order__food--title {
          font-size: 1.8rem; } }

/* Layout */
.navigation__checkbox {
  display: none; }

.navigation__btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #3d3d3d;
    display: inline-block; }
  .navigation__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: 0.8rem; }
  .navigation__icon::after {
    top: -0.8rem; }

.navigation__btn:hover .navigation__icon::before {
  top: 1rem; }

.navigation__btn:hover .navigation__icon::after {
  top: -1rem; }

.navigation__background {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #19456b;
  height: 100vh;
  width: 0%;
  z-index: 1000;
  transition: width 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
  transition-delay: 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  line-height: 5rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: line;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1rem 2rem; }

.navigation__link:hover, .navigation__link:active {
  border: 3px solid #fff;
  mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 2s infinite; }

.navigation__checkbox:checked ~ .navigation__background {
  width: 100%;
  height: 100%; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 1500; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  text-align: center;
  font-size: 1.6rem;
  padding: 3rem;
  font-weight: 500; }
  .footer__nav {
    display: flex;
    justify-content: left;
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
    padding-left: 0; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav {
        font-size: 1rem;
        padding-left: 1rem; } }
    .footer__nav li a {
      color: #fff;
      padding: 2rem; }
  .footer__policy {
    padding-left: 20px;
    border-right: 1px solid #fff; }
    .footer__policy--title {
      padding-bottom: 2rem;
      text-transform: uppercase;
      text-align: left; }
      @media only screen and (max-width: 56.25em) {
        .footer__policy--title {
          padding-left: 5rem; } }
    .footer__policy--paragraph {
      line-height: 3rem;
      text-align: left;
      text-align: justify;
      padding-right: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .footer__policy--paragraph {
          padding-left: 5rem; } }
  .footer__address--title {
    text-transform: capitalize;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .footer__address--title {
        position: relative;
        left: 54px; } }
    @media only screen and (max-width: 56.25em) {
      .footer__address--title {
        position: relative;
        left: 7px; } }
  .footer__address--map {
    width: 500px;
    height: 280px;
    position: relative;
    left: 10px; }
    @media only screen and (max-width: 56.25em) {
      .footer__address--map {
        left: 48px;
        width: 400px; } }
    @media only screen and (max-width: 37.55em) {
      .footer__address--map {
        left: 6px;
        width: 200px; } }
  .footer__copyright {
    position: absolute;
    top: 2230px;
    left: 40%;
    color: #16c79a; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        bottom: -792rem;
        font-size: 10px;
        left: 35%; } }
    @media only screen and (max-width: 37.55em) {
      .footer__copyright {
        bottom: -857rem;
        font-size: 10px;
        left: 10%; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 5rem 1rem; }
      .footer__nav {
        font-size: 1.5rem; }
      .footer__policy {
        border-right: 0;
        border-bottom: 1px solid #fff; }
        .footer__policy--paragraph {
          padding-bottom: 2rem; } }

.header__title {
  background-image: linear-gradient(to right, #16c79a, #19456b);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  position: absolute;
  top: 4.2rem;
  left: 40%;
  font-size: 35px;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .header__title {
      left: 29%; } }
  .header__title--text1 {
    text-align: left;
    display: block;
    font-size: 2.3rem;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 2rem;
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 1px;
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .header__title--text2 {
    text-align: left;
    display: block;
    font-size: 2.3rem;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 1px;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .header__title--text1 {
      font-size: 1.8rem; }
    .header__title--text2 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.55em) {
    .header__title {
      font-size: 1.9rem; } }

.header__images--pizza-1 {
  display: flex;
  float: left;
  margin-left: 100px;
  border-radius: 3%;
  box-shadow: gray 2px 2px 2px; }

@media only screen and (max-width: 56.25em) {
  .header__images--pizza-1 {
    float: none;
    display: block;
    margin: 0 auto;
    border-radius: 3%;
    height: 166px; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #777; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      width: 50rem; } }
  @media only screen and (max-width: 37.55em) {
    .row {
      width: 35rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4)+6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4)+6rem); }

/* pages */
body {
  color: #777; }

.header {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: block; } }

.footer {
  background: linear-gradient(to bottom, #19456b, #11698e);
  padding: 80px 100px 450px 0px;
  color: white;
  margin-top: 20rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      margin-top: 37rem;
      padding: 80px 100px 802px 0px; } }
