body {
  color: #777;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to(tablet) {
    display: block;
  }
}

.section-specification-cards {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.5)
    ),
    url("../../starter/img/simcard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(18% 0px, 100% 0, 100% 86%, 0px 86%, 0 26%);
  height: 400px;
  width: 100%;
  @include respond-to(tablet) {
    height: 1200px;
    width: 100%;
    clip-path: polygon(36% 0px, 100% 0, 100% 86%, 0px 86%, 0 4%);
  }
}

.section-plan-cards {
  margin-top: -18rem;
}

.section-feedback {
  margin-top: -20rem;
}

.section-form {
  margin-top: 30rem;
  &__bkg-video {
    height: 100%;
    width: 100%;
    @include respond-to(tablet) {
      display: none;
    }
  }
}

.form {
  background-image: linear-gradient(
      105deg,
      rgba($white-color, 0.9) 0%,
      rgba($white-color, 0.9) 50%,
      transparent 50%
    ),
    url(../../starter/img/network-connection.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  width: 80%;
  position: absolute;
  top: 423rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 80%;

  @include respond-to(tablet) {
    height: auto;
    width: 100%;
    position: relative;
    top: 200px;
    left: 0;
    transform: translate(0);
    opacity: 100%;
    clip-path: polygon(0 42%, 100% 42%, 100% 98%, 0 98%);
  }
}

.footer {
  padding: 80px 100px 450px 0px;
  background-color: $gray-color-dark;
  color: white;
  margin-top: 15rem;
  @include respond-to(tablet) {
    margin-top: 37rem;
    padding: 80px 100px 802px 0px;
  }
}
