body {
  color: #777;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to(tablet) {
    display: block;
  }
}

.footer {
  background: linear-gradient(to bottom, $primary-color, $primary-color-light);
  padding: 80px 100px 450px 0px;
  color: white;
  margin-top: 20rem;
  @include respond-to(tablet) {
    margin-top: 37rem;
    padding: 80px 100px 802px 0px;
  }
}
